@using Web.Shared.Models


<h3>ExistingLineupComponent</h3>
<p>Select an existing pokemon lineup</p>
<br />
<!-- Create new team Multiselect... -->

@{
    if (LineupCBs.Count > 0)
    {
        <div class="multiselect">
            <div id="checkboxes">

                @foreach (var lineup in LineupCBs)
                {
                    <div>
                        <label for="@lineup.Text">
                            @if (lineup.Checked)
                            {
                                <input type="checkbox" id="@lineup.Text" checked="checked" @onchange="@(() => lineup.Checked = !lineup.Checked)" />
                            }
                            else
                            {
                                <input type="checkbox" id="@lineup.Text" @onchange="@(() => lineup.Checked = !lineup.Checked)" />
                            }
                            @lineup.Text
                        </label>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <div class="jumbotron-fluid">NO PREVIOUS TEAMS</div>
    }
}

@code {

    [Parameter]
    public List<LineupModel> ExistingLineUps { get; set; }

    public List<CheckBox> LineupCBs { get; set; }

    protected override void OnInitialized()
    {
        if (ExistingLineUps.Any())
            ExistingLineUps.ForEach(l => { LineupCBs.Add(new CheckBox() { Text = l.Lineup.ToString() }); });
    }

    public class CheckBox
    {
        public bool Checked { get; set; }
        public string Text { get; set; }
    }

}
